<div class="w-fit flex flex-col text-center mb-5">
    <div class="w-[255px] h-[272px]">
        <img src="{{ product.featured_media | image_url }}"></img>
    </div>
    <div class="flex flex-col gap-1">
        <p class="text-[15px] text-grayText">{{ product.type }}</p>
        <a href="{{ product.url }}">
            <h3 class="text-[20px] hover:text-'#007bff' hover:cursor-pointer">{{ product.title }}</h3>
        </a>
        <p class="text-[15px] text-grayText">{{ product.price | money }}</p>
    </div>

</div>