<div class="header-container">
  <div class="header-content">
    <div class="logo">
      <a href="/"><img src="https://preview.colorlib.com/theme/aroma/img/logo.png.webp" /></a>
    </div>
    <nav class="nav-area">
      <ul class="nav-list">
        {% for link in linklists.navigation-menu.links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a>
          {% if link.links != blank %}
          <ul class="child">
            {% for child_link in link.links %}
            <li><a href="{{ child_link.url }}">{{ child_link.title }}</a>
              {% if child_link.links != blank %}
              <ul class="grandchild">
                {% for grandchild_link in child_link.links %}
                <li><a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a></li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </nav>
    <div class="buy-now">
      <div class="icon">
        <a href="/cart">{% render 'icon-cart.liquid' %}</a>
      </div>

      <a href="{{section.settings.collection-header.url}}"><button class="new-button button-header">Buy Now</button></a>
      
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Header",
    "blocks": [
      {
        "type": "link_list",
        "name": "Links",
        "settings": [
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
          }

        ]
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "header"
      },
      {
      "type": "collection",
      "id": "collection-header",
      "label": "Collection Header"
      }
    ],
    "presets": [
      {
        "name": "Header"
      }
    ]
  }
{% endschema %}

{% style %}
.header-container{
  width: 100%;
}

.header-content{
  display: flex;
  justify-content: space-between;
  padding:25px 120px;

}

.nav-list{
  display:flex;
  gap: 30px;
  font-size:15px;
  list-style-type: none;
}

.child{
  list-style-type: none;
  position: absolute;
  display: none;
  left:790px;
}

.nav-area ul li a {
  text-decoration: none;
  display: block;
  background: #FFFFFF;
  color: #222222;

}

.nav-area ul ul li a{
  background: #FFFFFF;
  color: "black";
  padding: 15px 20px;
  transition: all .4s ease;
}

.nav-area ul ul li:hover a {
  background: #384aeb;
  color: white;
  transition: all .4s ease;
}

.nav-area ul li a:hover {
  color: #384aeb;
  transition: all .4s ease;
}

.nav-area ul li:hover>.child {
  display: block;
}


.logo{
  display: flex;
  align-items: center;
  cursor:pointer;
}


.buy-now{
  display: flex;
  align-items: center;
  gap: 15px;
}

.button-header{
  padding: 10px 45px;
  background: transparent;
  color: #222;
  border-color: #EEEEEE;
  min-width: 150px;
  margin-left:30px;
  font-weight:bold;
}

.button-header:hover{
  border-color: #384aeb;
  transition: all .4s ease;
  cursor: pointer;
}

.icon{
  width:20px;
  height:20px;
  cursor:pointer
}
{% endstyle %}
